@use "styles/variables";

.container {
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: center;
}

.layout {
  display: flex;
  flex-direction: column;
  gap: 8px;
  list-style: none;
}
