@use "src/styles/variables";

.container {
  width: 320px;
  padding: 20px 16px;
  background-color: var(--c-surface);
  border-left: 1px solid var(--c-outline);
}

.title {
  margin-bottom: 20px;
  color: var(--c-on-surface-high);
  @include variables.headline6;
}

.videoCardLayout {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-bottom: 16px;
  list-style: none;
}

.watchButton {
  padding: 8px 16px;
  color: var(--c-primary);
  background-color: var(--c-surface);
  border: 1px solid var(--c-primary);
  border-radius: 4px;
  @include variables.button;

  &:hover {
    background-color: var(--c-surface-hover);
  }
}
