@use "styles/variables";

.container {
  display: flex;
  align-items: center;
  height: 56px;
  padding: 0 16px;
  background-color: var(--c-primary);
}

.title {
  color: var(--c-on-primary-high);
  @include variables.headline6;
}

.titleLayout {
  display: flex;
  gap: 4px;
  align-items: center;
}
